<div class="d-flex align-items-start">
  <div class="filter-panel">
    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Status</mat-label>
      <mat-select
        [(ngModel)]="selectedStatus"
        (selectionChange)="applyFilter()"
      >
        <mat-option *ngFor="let status of statusOptions" [value]="status">{{
          status
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Group</mat-label>
      <mat-select [(ngModel)]="selectedGroup" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let group of groupOptions" [value]="group">{{
          group
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-check form-switch mt-3 ms-auto">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="viewSwitch"
      (change)="toggleView()"
    />
    <label class="form-check-label" for="viewSwitch">
      {{ "Table View" }}
    </label>
  </div>
</div>
