<div class="vehicle-table">
  <table mat-table [dataSource]="dataSource" class="vehicle-table" matSort #empTbSort="matSort">
    <!-- Define each column here based on the `displayedColumns` array -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ column.key }}">
        {{ column.label }}
      </th>
      <td
        mat-cell
        *matCellDef="let vehicle"
        [attr.data-status]="vehicle.status"
        (click)="onVehicleSelect(vehicle)"
      >
        {{ vehicle[column.key] }}
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let vehicle; columns: displayedColumns"
      [class.registered]="vehicle.status === 'REGISTERED'"
      [class.deregistered]="vehicle.status === 'DEREGISTERED'"
    ></tr>
  </table>
  <!-- Pagination -->
  <mat-paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50, 200, 500]"
    showFirstLastButtons
  ></mat-paginator>
</div>
